
$font_family: Inter, Helvetica, Verdana, Geneva, sans-serif;

$font_family_variation: "Inter var experimental", Helvetica, Verdana, Geneva, sans-serif;

$font_size: calc(1rem + .25vw);

:root, * {
    cursor: default;
    font-family: $font_family;
    font-size: $font_size;
    -moz-tab-size: 4;
    tab-size: 4;
}

@supports (font-variation-settings: normal) {
    :root, * {
        font-family: $font_family_variation;
        font-size: $font_size;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    line-height: 1.15;
}

body,
html {
    height: 100%; /* needed to be able to use 100% height in the columns, @see https://codepen.io/vanslooten/pen/RPRxoQ */
    overflow-x: hidden;
}

body {
    @include background-base;
    margin: 0;
    min-height: 100vh;

    .wrap {
        height: 100%;
        margin: 0 auto;
        header {
            height: 7.5%;
        }
        section {
            height: 87.5%;
        }
        footer {
            height: 5%;
        }
    }

    /* @see https://github.com/kitze/twizzle/blob/master/src/styles/themes.js */

    &.dark {
        background-image: url("../images/desert-dark.svg");
        color: #a2b9c7;
        .wrap {
            header {
                border-bottom: 1px solid #192432;
            }
            section {
                box-shadow: 0 0 15px 8px #0a131d;
            }
            footer {
                border-top: 1px solid #192432;
            }
        }
    }

    &.light {
        background-image: url("../images/desert-light.svg");
        color: #464646;
        .wrap {
            header {
                border-bottom: 1px solid #b2b2b2;
            }
            section {
                box-shadow: 0 0 16px 0px rgba(18, 26, 35, 0.28);
            }
            footer {
                border-top: 1px solid #b2b2b2;
            }
        }
    }

    &.no-scroll {
        overflow: hidden;
    }

}
