section {
    article {
        @include background-base;
        height: 100%;
        &.error-404 {
            background-image: url("../images/404.svg");
        }
        &.error-500 {
            background-image: url("../images/500.svg");
        }
        &.main {
            background-image: url("../images/sign_in.svg");
        }
    }
}
