
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    right: 0;
    text-align: end;
    top: 0;

    i.logo {
        display: inherit;
        font-size: 2rem;
        position: absolute;
        transition: 3s;
    }

    &:hover i.logo {
        transform: rotate(1080deg);
    }
}
