<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Python module that allows you to convert Flask apps into cross platform desktop apps">
        <meta name="keywords" content="Flask, Qt">
        <!-- Specific Page title goes HERE  -->
        <title>{% block title %}{{title}}{% endblock %}</title>
        <!-- Specific Page CSS goes HERE  -->
        {% block styles %}
            <link href="../images/logo.svg" rel="icon" type="image/svg+xml">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="../styles/main.sass" rel="stylesheet">
        {% endblock %}
    </head>
    <body class="{{theme}}">
        <div class="wrap">
            <header>
                {% block header %}
                    <i class="logo material-icons">{% if theme == 'dark' %}nights_stay{% elif
                        theme == 'light' %}wb_sunny{% else %}offline_bolt{% endif %}</i>
                    <h1><a class="logo" href="/" title="Home">{{title}}</a></h1>
                {% endblock %}
            </header>
            <section>
                {% block content %}
                    <!-- Build a custom look that all pages can inherit HERE -->
                    <article class="main"></article>
                {% endblock %}
            </section>
            <footer>
                {% block footer %}
                    <form method="post">
                        <input name="toggle" type="hidden" value="{{theme}}" />
                        <input class="material-icons" title="Invert theme" type="submit" value="invert_colors" />
                    </form>
                    <div class="footer">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <span class="{{ category }}">{{ message }}</span>
                                {% endfor %}
                            {% else %}
                                <span class="info">Enjoy ッ</span>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <form action="/shutdown" method="post">
                        <input class="material-icons" title="Shutdown server" type="submit" value="power_settings_new" />
                    </form>
                {% endblock %}
            </footer>
        </div>
        <!-- Specific Page JS goes HERE  -->
        {% block scripts %}
            <script src="../scripts/main.js"></script>
        {% endblock %}
    </body>
</html>
